<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Submux Runtime</string>
  <key>CFBundleExecutable</key>
  <string>submux-runtime-gui</string>
  <key>CFBundleIdentifier</key>
  <string>com.byworld.submux.gui</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Submux Runtime</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>@PRODUCT_VERSION@</string>
  <key>CFBundleVersion</key>
  <string>@PRODUCT_VERSION@</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
</dict>
</plist>
